.secundario {
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
    display: grid;
    height: 100vh;
}

.container__description1 {
    text-align: left;
    display: grid;
    margin: 0 6rem;
    gap: 0.5rem;
}

.container__description1 h1 {
    font-weight: 700;
    font-size: 3rem;
    color: var(--primary-color);
}

.container__description1 p {
    font-weight: 400;
    font-size: 1rem;
    color: var(--secondary-color);
}

.image_description1 {
    margin-left: auto;
}
